// Colors
$color-bg-white: #f3ebf6;
$color-bg-dark: #242424;
$color-bg-green: #228B22;
$color-bg-red: #D2001A;
$color-bg-blue: #034f84;
$color-bg-purple: #622569;

$color-font-white: #f3ebf6;
$color-font-dark: #242424;

$color-border-default: #8f8a90;

// Dimensions
$transition250: 0.25s;
$transition400: 0.4s;